* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    width: 100vw;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.nav-bar {
    width: 100%;
    height: 70px;
    padding: 15px;
}
.logo {
    margin-top: 4px;
}
ul {
    list-style: none;
}
.nav-left, .nav-right {
    height: 33px;
    line-height: 33px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.nav-bar li {
    display: inline-block;
    font-size: 16px;
    padding-left: 30px;
}
.inizia {
    background-color: #0061ff;
    color: white;
    width: 80px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
}
.center {
    background-color: #b4d0e7;
    height: 700px;
}
.inside-center {
    width: 80%;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 30px;
}
.small-desc {
    width: 40%;
}
h5 {
    font-size: 30px;
    font-weight: normal;
}
.start, .first-try, .contact {
    color: white;
    background-color: #0061ff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: 60%;
}
.cancel {
    font-size: 20px;
    padding-top: 10px;
}
.under-arrow {
    font-size: 80px;
}
.jumbo {
    height: 60%;
    width: 60%;
    padding-top: 60px;
}
.middle-column {
    width: 55%;
    margin: 0 auto;
    padding-top: 150px;
}
.start-column, .start-operations {
    font-size: 45px;
}
.billing {
    padding-left: 50px;
    font-size: 20px;
}
.tab-1, .tab-2, .tab-3 {
    width: 25%;
    height: 1000px;
    border: solid 1px lightgrey;
    padding: 10px;
}
.tab-2 {
    margin-left: 12.5%;
}
.single, .price {
    font-size: 18px;
    font-weight: bold;
}
.single {
    text-align: center;
}
hr {
    border: solid 1px lightgrey;
}
.pr  {
    font-size: 30px;
    font-weight: bold;
}
.price, .utent, .space, .function {
    font-size: 15px;
}
.month {
    color: lightgrey;
}
.first-try {
    font-size: 16px;
    width: 90%;
    margin-left: 12px;
}
.main-event {
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
}
 .check {
    font-size: 16px;
    color: #0061ff;
    float: left;
    height: 25px;
    margin-right: 10px;
}
.check-list {
    float: left;
    width: 80%;
}
.check-list-1 li {
    margin-top: 15px;
    margin-left: 10px;
}
.tab-4 {
    width: 100%;
    height: 250px;
    border: solid 1px lightgrey;
    float: left;
    margin-top: 50px;
    padding: 10px;
}
.contact {
    width: 30%;
}
.tab-4-price {
    font-size: 20px;
    font-weight: bold;
}
.under-column {
    height: 100vh;
}
.partner {
    height: 50%;
    width: 50%;
    float: left;
    margin-top: 70px;
}
.partner-content {
    width: 40%;
    font-size: 24px;
    font-weight: bold;
    margin-top: 200px;
    padding-left: 50px;
}
.description-partner, .find {
    font-size: 16px;
    font-weight: normal;
}
.find {
    width: 150px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}
.operations {
    margin-top: 900px;
}
.start-operations {
    font-weight: bold;
    text-align: center;
}
.operations-img {
    width: 80%;
}
.operations li {
    width: calc(100% / 3 - 20px);
    float: left;
    margin-top: 60px;
    margin-left: 20px;
}
.description-operations {
    height: 50px;
    font-size: 16px;
    font-weight: normal;
}
.over-title {
    font-size: 45px;
    font-weight: bold;
}
.under-title {
    margin-top: 200px;
}
.first-4 {
    width: calc(100% / 3);
    height: 500px;
}
.center-clients {
    height: 500px;
    width: calc(100% / 3);
    background-color: #f5f5f5;
}
.last-4 {
    height: 500px;
    width: calc(100% / 3);
}
.designit, .asu, .uf, .topps, .world, .hearst, .lonely, .clear {
    width: 150px;
    height: 150px;
}
.size-clients-1 {
    background-color: #a2d39b;
}
.size-clients-2 {
    background-color: #61082b;
}
.size-clients-3 {
    background-color: #0093ce;
}
.size-clients-4 {
    background-color: #ff1c1c;
}
.size-clients-5 {
    background-color: #d5001f;
}
.size-clients-6 {
    background-color: #b4d0e7;
}
.size-clients-7 {
    background-color: #0d2481;
}
.size-clients-8 {
    background-color: #ffd830;
}
.size-clients-1, .size-clients-2, .size-clients-3, .size-clients-4, .size-clients-5, .size-clients-6, .size-clients-7, .size-clients-8 {
    padding-left: 12.5%;
    padding-top: 10%;
    width: 50%;
    height: 50%;
}
.inside-center-clients {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: 50px;
}
.inside-center-p {
    width: 70%;
    margin-left: 50px;
}
.background-bring-db {
    background-color: #b4d0e7;
    width: 100%;
    height: 400px;
}
.content-bring-db {
    font-size: 45px;
    font-weight: bold;
    margin-left: 200px;
    padding-top: 200px;
    color: #61082b;
}
.start-free-trial {
    background-color: white;
    padding: 20px;
    line-height: 1px;
    margin-left: 1200px;
    text-align: center;
}